* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

.landing {}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ff499e;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 1s;
}

.navbar a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #ff499e;
    transition: 1s;
}

.navbar a:hover:after {
    width: 100%;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #a480cf 65%, #fff 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-image {
    width: 500px;
    height: 500px;
    background: #779be7;
    border-radius: 50%;
    border: 25px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 25px solid #ff499e;
}

.home-image img {
    position: relative;
    bottom: 26px;
    max-width: 380px;

}

.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #ff499e;
    background-image: linear-gradient(#ff499e, #ff499e);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -335px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {

    0%,
    95%,
    100% {
        background-position: -335px 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #49b6ff;
    margin-left: 12px;
    transition: .5s;
}

.home-sci a:hover {
    background-color: #49b6ff;
    color: #fff;
    border-color: #49b6ff;
    box-shadow: 0 0 10px #49b6ff;
}

.cv {
    padding: 12px 35px;
    background: transparent;
    border-radius: 40px;
    border: #ff499e solid 2px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 1s ease;

}

.cv:hover {
    box-shadow: 0 0 10px #ff499e;
    background-color: #ff499e;
}

@media screen and (max-width: 1400px) {


    .home {
        display: flex;
        height: auto;
        flex-direction: column;
        padding-top: 100px;
        background: #a480cf;
    }

    .home-content {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .home-image {
        width: 350px;
        height: 350px;

    }

    .home-image img {
        max-width: 300px;
    }

    .logo {
        color: #fff;
        text-shadow: 0 0 10px #ff499e;
    }
}

@media screen and (max-width: 726px) {
    .navbar a {
        display: flex;
    }

    .home {
        padding-top: 180px;
    }

    .home-image {
        width: 300px;
        height: 300px;
    }

    .home-image img {
        max-width: 250px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 480px) {


    .home-image {
        width: 150px;
        height: 150px;
        
    }
    
    .home-image img {
        max-width: 100px;
        padding-top: 15px;
    }
}